<!DOCTYPE html>
<<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: header">
    <title>Add Education Achievement Info</title>

</head>

<body>

<!-- Header -->
<div th:replace="base :: navlinks"></div>
<header id="top" class="header">
    <div class="text-vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <div class="container">

                                <form class="well form-horizontal" th:action="@{/addEduInfo}" th:object="${newEduInfo}" method="post">

                                    <fieldset>

                                        <!-- Form Name -->
                                        <legend align="Center">Please Enter Your Education Achievement Information</legend>
                                        <input type="hidden" th:field="*{id}" />
                                        <!-- Text input-->

                                        <div  th:if="${#fields.hasErrors('eduType')}" th:errors="*{eduType}" class="well alert alert-danger" role="alert">Please enter a valid Education Information!</div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Education Filed</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                                                    <input  th:field="*{eduType}" name="eduType" placeholder="Enter Education Type" class="form-control"  type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div  th:if="${#fields.hasErrors('uniName')}" th:errors="*{uniName}" class="well alert alert-danger" role="alert">You Must enter a valid Univ/College Name!</div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Univ/College Name</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-certificate"></i></span>
                                                    <input  th:field="*{uniName}" name="uniName" placeholder="Enter University/College Name" class="form-control"  type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div  th:if="${#fields.hasErrors('grdYear')}" th:errors="*{grdYear}" class="well alert alert-danger" role="alert">You Must enter a valid Graduate Year!</div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Year Graduate</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                                    <input  th:field="*{grdYear}" name="grdYear" placeholder="Enter Year Graduate" class="form-control"   type="text">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label"></label>
                                            <div class="col-md-4">
                                                <input th:disabled="${disSubmit}" class="btn btn-success" type="submit" value="Submit">
                                                <!--<button type="submit" class="btn btn-success" >Submit<span class="glyphicon glyphicon-save" ></span></button>-->
                                                <button type="reset" class="btn btn-warning">Reset</button>
                                            </div>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</header>
<!--<div th:replace="base :: javaScript"></div>-->
</body>

</html>
