<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: header">
    <title>Add Job Info</title>

</head>
<body>

<!-- Header -->
<div th:replace="base :: navlinks"></div>
<header id="top" class="header">
    <div class="text-vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <div class="container">

                                    <form autocomplete="off" class="well form-horizontal" th:action="@{/addJobInfo}" th:object="${job}" method="post">
                                    <fieldset>
                                        <!-- Form Name -->
                                        <legend align="Center">Please Enter Your Job Information</legend>
                                        <!--<input type="hidden" th:field="*{newJob.id}" />-->
                                        <input type="hidden" th:field="*{id}" />

                                        <div  th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="well alert alert-danger" role="alert"></div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Title</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                                                    <input  th:field="*{title}" name="title" placeholder="Enter Title" class="form-control"  type="text">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div  th:if="${#fields.hasErrors('employer')}" th:errors="*{employer}" class="well alert alert-danger" role="alert"></div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Employer</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                                                    <input  th:field="*{employer}" name="employer" placeholder="Enter Employer" class="form-control"  type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div  th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="well alert alert-danger" role="alert"></div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Description</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                                                    <input  th:field="*{description}" name="description" placeholder="Enter Description" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div  th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}" class="well alert alert-danger" role="alert"></div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Salary</label>
                                            <div class="col-md-4 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                                                    <input  th:field="*{salary}" name="salary" placeholder="Enter Salary" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label"></label>
                                            <div class="col-md-4">
                                                <!--<input th:disabled="${disSubmit}" class="btn btn-success"  type="submit" value="Submit">-->
                                                <div><button type="submit" class="btn btn-success" >Submit</button></div>
                                                <div><button type="reset" class="btn btn-warning">Reset</button></div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</header>
<div th:replace="base :: javaScript"></div>
<div th:replace="base :: footer"></div>
</body>

</html>
