<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: header">
    <title>Add Skills to Job Info</title>

</head>
<body>

<!-- Header -->
<section class="hero">
    <div class="container text-center">
        <div class="container">
            <form th:action="@{/addskilltojob/{jobid}(jobid=${job.id})}" th:object="${aSkill}" method="post">
                <input type="number" th:value="${job.id}">
                <label th:inline="text">Adding a skill for [[${job.title}]]</label>

                <!--<select name="movies">-->
                <!--<option th:each="aMovie:${movieList}" th:value="${aMovie.id}" th:text="${aMovie.title}"></option>-->
                <!--</select>-->

                <select name="job">
                    <option th:each="aSkill:${skilllist}" th:value="${aSkill.id}" th:text="${aSkill.skill}"></option>
                </select>
                <input type="submit" value="Add a skill!">

                <!--<a class="nav-link js-scroll-trigger" href="/addskills">Add New Skills</a>-->
            </form>
        </div>
    </div>
</section>
<div th:replace="base :: javaScript"></div>
<div th:replace="base :: footer"></div>
</body>

</html>
