<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: header">
    <title>Add Job Info</title>

</head>
<body>

<!-- Header -->
<div th:replace="base :: navlinks"></div>
<header id="top" class="header">
    <div class="text-vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <div class="container">
                                <form autocomplete="off" class="well form-horizontal" th:action="@{/addskilltojob/{jobid}(jobid=${job.id})}" th:object="${aSkill}" method="post">
                                    <fieldset>
                                        <!-- Form Name -->
                                        <legend align="Center">Your Skill </legend>

                                            <input type="hidden" th:value="${job.id}">
                                            <div class="form-group">
                                                <label th:inline="text" class="col-md-4 control-label">Adding a skill for [[${job.title}]]</label>
                                            </div>

                                            <!--<div  th:if="${#fields.hasErrors('skill')}" th:errors="*{skill}" class="well alert alert-danger" role="alert"></div>-->
                                            <div class="form-group">
                                                <div class="col-md-4 inputGroupContainer">
                                                    <div class="input-group">
                                                        <label th:inline="text">List Of Skills</label>
                                                        <select name="job">
                                                            <option th:each="aSkill:${skilllist}" th:value="${aSkill.id}" th:text="${aSkill.skill}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label"></label>
                                                <div class="col-md-4">
                                                    <div><button type="submit" class="btn btn-success" >Add Skill</button>
                                                        <button type="reset" class="btn btn-warning">Reset</button></div>
                                                </div>
                                            </div>

                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</header>
<div th:replace="base :: javaScript"></div>
<div th:replace="base :: footer"></div>
</body>

</html>

