<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: header">
    <title>Display User Resume Info</title>
</head>
<body>
<!-- Header -->
<div th:replace="base :: navlinks"></div>
<header id="top" class="header">
    <div class="text-vertical-center">

        <!-- Text input-->
        <div class="panel panel-default active">
            <div class="panel-heading">
                <div th:each="users:${dipUser}">
                    <p th:text="${users.firstname} +' '+${users.lastname}" />
                    <p th:text="${users.email}" />
                </div>

            </div>
        </div>

        <div class="panel panel-default active">
            <div class="panel-heading">
                <caption> <h4><b>Education Achievement</b></h4></caption>
            </div>
            <hr/>
            <th:block th:each="user:${dipUser}">
                <th:block th:each="edu : ${user.eduAchievementsSet}">
                    <p th:text="${edu.eduType}"></p>
                    <p th:text="${edu.uniName} +', ' + ${{edu.grdYear}}"></p>
                    <br/>
                </th:block>
            </th:block>

        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <caption> <h4><b>Work Experience</b></h4></caption>

            </div>
            <hr/>
            <th:block th:each="user:${dipUser}">
            <th:block th:each="expl : ${user.workExperiencesSet}">
                <p  th:text="${expl.profName}+ ' ' + ${expl.ProfLevel}"></p>
                <p th:text="${expl.orgName} + ', ' + ${{expl.startDate}} + ' to ' + ${{expl.endDate}}"></p>
                <p th:text="${expl.duty}"></p>
                <br/>
            </th:block>
            </th:block>
            <br/>

        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                </i> <caption> <h4><b>Skills</b></h4></caption>
            </div>
            <hr/>
            <th:block th:each="user:${dipUser}">
            <th:block th:each="skill : ${user.skillsSet}">
                <p th:text="${skill.skill} + ', ' + ${skill.rate}"></p>
                <br/>
            </th:block>
            </th:block>
            <br/>
        </div>

    </div>
    </div>
</header>
<!--<div th:replace="base :: javaScript"></div>-->
<div th:replace="base :: footer"></div>
</body>
</html>
