<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: header">
    <title>Display Skills Info</title>

</head>

<body>

<!-- Header -->
<section class="hero">
    <div class="container text-center">
        <div class="container">
            <form class="well form-horizontal" th:action="@{/dispSkillsInfo}" th:object="${newSkill}" method="">
                <fieldset>
                    <!-- Form Name -->
                    <legend align="Center">Your Skill Information:</legend>
                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-sm-10">
                            <p th:text="${newSkill.skill}" />
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-sm-10">
                            <p th:text="${newSkill.rate}" />
                        </div>
                    </div>
                    <!-- Button -->

                </fieldset>
            </form>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <p><a href="addSkillInfo"><strong>More Skill Information</strong></a></p>
                <p><a href="listSkillInfo"><strong>Display Skill Information</strong></a></p>
                <p><a href="addWorkExpInfo"><strong>Most Recent Work Experience Information</strong></a></p>
                <p><a th:href="@{/EditResumedetail/{id}(id=${newSkill.id})}"><strong>Edit Resume</strong></a></p>
                <p><a th:href="@{/SummerizedResume/{id}(id=${newSkill.id})}"><strong>View Resume </strong></a></p>

            </div>
        </div>

    </div>
</section>
<div th:replace="base :: javaScript"></div>
<div th:replace="base :: footer"></div>
</body>

</html>
