<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: header">
    <title>Display Work Experience Info</title>

</head>

<body>

<!-- Header -->
<section class="hero">
    <div class="container text-center">
        <div class="container">
            <form class="well form-horizontal" th:action="@{/dispWorkExpInfo}" th:object="${newWork}" method="">
                <fieldset>
                    <!-- Form Name -->
                    <legend align="Center">Your Work Experience Information:</legend>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <!--<label th:inline="text">Full Name</label>-->
                            <select name="resumes" class="form-control">
                                <option th:text="${newWork.resume.firstname}+' '+ ${newWork.resume.lastname}"></option>
                            </select>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-sm-10">
                            <p th:text="${newWork.profName}" />
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-sm-10">
                            <p th:text="${newWork.ProfLevel}" />
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-sm-10">
                            <p th:text="${newWork.orgName}" />
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">

                        <div class="col-sm-10">
                            <p th:text="${newWork.duty}" />
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-sm-10">
                            <p th:text="${{newWork.startDate}}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <p th:text="${{newWork.endDate}}" />
                        </div>
                    </div>
                    <!-- Links-->

                </fieldset>
            </form>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <p><a href="addWorkExpInfo"><strong>More Work Experience Information</strong></a></p>
                <p><a href="listExpInfo"><strong>Display Work Experience Information</strong></a></p>
                <p><a href="addSkillInfo"><strong>Add Your Skill Information</strong></a></p>
                <!--<p><a th:href="@{/EditResumedetail/{id}(id=${newWork.id})}"><strong>Edit Resume</strong></a></p>-->
                <!--<p><a th:href="@{/SummerizedResume/{id}(id=${newWork.id})}"><strong>View Resume </strong></a></p>-->

            </div>
        </div>
    </div>
</section>
<div th:replace="base :: javaScript"></div>
<div th:replace="base :: footer"></div>
</body>

</html>
