<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: header">
    <title>Display User  Info</title>
</head>
<body>
<!-- Header -->
<section class="hero">
    <div class="container text-center">
        <div class="container">

        <!-- Text input-->

                <div class="panel panel-default">
                    <div class="panel-body">
                    <h2 th:text="${resumeR.firstname + ' ' + resumeR.lastname}"></h2>
                    <h6 th:text="${resumeR.email}"></h6>
             </div>
        </div>

        <div class="panel panel-default active">
            <div class="panel-body">
                <caption> <h4><b>Education Achievement</b></h4></caption>
            </div>
            <hr/>
                <th:block th:each="edu : ${listEdu}">
                    <p th:text="${edu.eduType}"></p>
                    <p th:text="${edu.uniName} +', ' + ${{edu.grdYear}}"></p>
                    <br/>
                </th:block>

        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <caption> <h4><b>Work Experience</b></h4></caption>

            </div>
            <hr/>
            <th:block th:each="expl : ${listExps}">
                <p  th:text="${expl.profName}+ ' ' + ${expl.ProfLevel}"></p>
                <p th:text="${expl.orgName} + ', ' + ${{expl.startDate}} + ' to ' + ${{exp.endDate}}"></p>
                <p th:text="${expl.duty}"></p>
                <br/>
            </th:block>
            <br/>

        </div>
            <div class="panel panel-default">
                <div class="panel-body">
                  </i> <caption> <h4><b>Skills</b></h4></caption>
                </div>
                <hr/>
                <th:block th:each="skill : ${listSkill}">
                    <p th:text="${skill.skill} + ', ' + ${skill.rate}"></p>
                    <br/>
                </th:block>
                <br/>
            </div>

            </div>

    </div>
</section>
<div th:replace="base :: javaScript"></div>
<div th:replace="base :: footer"></div>
</body>
</html>
