<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: header">
    <title>Display User Resume Info</title>
</head>

<body>

<!-- Header -->
<section class="hero">
    <div class="container text-center">
        <div class="container">
            <!-- Form Name -->
            <legend align="Center">Register New Students and Assign to Courses </legend>
            <!-- Text input-->
            <div class="form-group">
                <div class="col-sm-10">
                        <h2> New Student </h2>
                        <a href="addUser" type="submit" class="btn btn-dark btn-lg" shape="round"><strong><h3><b>Add Student</b></h3></strong></a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">

                        <div  th:each="stud:${studList}" >

                            <h3 th:text="${stud.firstname}+' '+${stud.lastname}">Student Name</h3>

                            <a th:disabled="${gotactors lt 1}" th:href="@{/addcourseTostudent/{id}(id=${stud.id})}">Add Course</a>
                            <div th:each="anotherCourse:${stud.teach}">
                                <p th:text="${anotherCourse.courseName}">
                                <p th:text="${anotherCourse.courseCreditHr}">
                            </div>
                        </div>
                    </div>
                </div>


            <!-- Button -->


        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <p><a href="addCourse"><strong>Add More Courses</strong></a></p>
                <p><a href="homePage"><strong>Home Page</strong></a></p>
            </div>
        </div>
    </div>
</section>
<div th:replace="base :: javaScript"></div>
<div th:replace="base :: footer"></div>
</body>

</html>
