<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: header">
    <title>Home Page</title>
</head>
<body>

<!-- Header -->
<div th:replace="base :: navlinks"></div>
<header id="top" class="header">
    <div class="text-vertical-center">
        <div class="container">
        <h1>Welcome to Robo LinkedIn Application</h1>
        <br>
        </div>
    </div>
</header>
<div th:replace="base :: javaScript"></div>
<div th:replace="base :: footer"></div>
</body>
</html>
