<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: header">
    <title>Home Page</title>
</head>
<body>
<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Welcome to Robo Resume Application</h1>
        <h2><strong>You want to Register?</strong></h2>
        <br>

        <a href="addUser" type="submit" class="btn btn-dark btn-lg" shape="round"><strong><h3>Click Here</h3></strong></a>
    </div>
</header>
<div th:replace="base :: footer"></div>
</body>
</html>
