<div class="panel panel-default">

    <div class="panel-body">
        <div th:each="item:${joblist}">
            <p th:text="${item.title}" />
            <p th:text="${item.employer}" />
            <p th:text="${item.salary}" />
            <h4 class="panel-title">
                <i class="fa fa-caret-right"></i> Discription
                </a>
            </h4>
            <p th:text="${item.description}" />
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="fa fa-caret-right"></i> Skills
            </a>
        </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
            <div th:each="p:${joblist}">
                <div th:each="item:${p.jobskills}">
                    <p  th:text=" ${item.skillname} +', '+ ${item.rating}" />

                </div>
            </div>
        </div>