
<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org">
<head th:replace="base :: header">

    <title>List All Skills Info</title>

</head>
<body>
<!-- Header -->
<section class="hero">
    <div class="container text-center">
        <div class="container">
            <div class="bs-callout bs-callout-success">
                <div class="panel panel-default">
                    <div>
                        <table>
                            <athead>
                                <tr>
                                    <th>Job Title</th>
                                    <th>Actions</th>
                                </tr>
                            </athead>
                            <tbody>
                            <th:block th:each="item:${joblist}">
                                <tr>
                                    <td><p th:text="${item.title}" /></td>
                                    <td>
                                        <a th:href="@{/jobdetail/{id}(id=${item.id})}"
                                           class="active"><small>Detail</small></a>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4" align="center">
                <a th:href="@{/addSkillToJobInfo/{JId}(JId=${list.id})}"
                   class="active">Add Skill List to Job</a>
            </div>
        </div>
    </div>
    </div>
</section>

<div th:replace="base :: javaScript"></div>
<div th:replace="base :: footer"></div>
</body>
</html>