<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: header">
    <title>Add Education Achievement Info</title>

</head>
<body>

<!-- Header -->
<div th:replace="base :: navlinks"></div>
<header id="top" class="header">
    <div class="text-vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <div class="container">

                                <form autocomplete="off" class="well form-horizontal" th:action="@{/searchPeoples}" th:object="${listUser}" method="post">
                                <fieldset>
                                    <!-- Form Name -->
                                    <legend align="Center">Search for User Information</legend>
                                    <input type="hidden" th:field="*{id}" />


                                    <!-- Text input-->
                                    <div  th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="well alert alert-danger" role="alert"></div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Education Filed</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                                                <input  th:field="*{firstname}" name="firstname" placeholder="Enter First Name" class="form-control"  type="text">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Button -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-4">
                                            <p><button type="submit" class="btn btn-success" >Search</button></p>
                                            <p><button type="reset" class="btn btn-warning" >Reset</span></button></p>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</header>
<!--<div th:replace="base :: javaScript"></div>-->
<div th:replace="base :: footer"></div>
</body>

</html>
