<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="base :: header">
    <title>Add User Resume Info</title>
</head>
<body>
<!-- Header -->

<section class="hero">
    <div class="container text-center">
        <div class="container">
        <form autocomplete="off" class="well form-horizontal" th:action="@{/signUpForm}" th:object="${newUser}" method="post">
            <fieldset>
                <!-- Form Name -->
                <legend align="Center">Please Enter Your Information</legend>
                <input type="hidden" th:field="*{id}" />
                <div class="form-group">
                    <!--<label th:inline="text">Adding Education for [[${newesume.firstname}+' '+${newesume.lastname}]]</label>-->
                    <div class="col-sm-10">
                        <label class="col-md-10 control-label">Role Type</label>
                        <select th:name="selectVal" class="form-control">
                            <th:block th:each="uRole:${listRoles}">
                                 <option th:value="${uRole.urole}"
                                        th:text="${uRole.urole}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <div class="col-sm-10">
                        <div  th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="well alert alert-danger" role="alert"></div>
                        <input  th:field="*{firstname}" name="firstname" placeholder="Enter First Name" class="form-control"  type="text">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <div class="col-sm-10">
                        <div  th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="well alert alert-danger" role="alert"></div>
                        <input  th:field="*{lastname}" name="lastname" placeholder="Enter Last Name" class="form-control"  type="text">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <div class="col-sm-10">
                        <div  th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="well alert alert-danger" role="alert"></div>
                        <input  th:field="*{email}" name="email" placeholder="Enter E-Mail" class="form-control"  type="text">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <div class="col-sm-10">
                        <div  th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="well alert alert-danger" role="alert"></div>
                        <input  th:field="*{username}" name="username" placeholder="Enter User Name" class="form-control"  type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <div  th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="well alert alert-danger" role="alert"></div>
                        <input  th:field="*{password}" name="password" placeholder="Enter Password" class="form-control"  type=password>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <p><button type="submit" class="btn btn-success" >SignUp</button></p>
                        <p><button type="reset" class="btn btn-warning" >Reset</span></button></p>
                    </div>
                </div>
            </fieldset>
        </form>
        </div>
    </div>
</section>
<div th:replace="base :: javaScript"></div>
<div th:replace="base :: footer"></div>
</body>

</html>
